name: "Dependabot Auto Approve and Merge"

on:
  pull_request:
    branches:
      - main
      - v1.4

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    uses: canonical/sdcore-github-workflows/.github/workflows/dependabot_pr.yaml@v2.3.1
